body {
  background-color: #333;
  color: #333; 
  font-family: Lucida Grande, Lucida Sans, Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
  font-size: 11px; 
  font-weight: normal; 
  line-height: normal;
  margin: 0;
  text-decoration: none;
}

a img { 
  border: 0px solid transparent;
}

a, a:link, a:visited, a:active, a:hover { 
  color: #cdcdcd;
  text-decoration: underline;
}

h1 {
  font-family: Arial, Helvetica Neue, Verdana, Geneva, sans-serif;
  font-size: 1.65em;
  letter-spacing: 0.1em;
  margin-bottom: 1em; 
  width: 100%; 
}

canvas { 
  display: block; 
  height: 100%; 
  min-height: 500px; 
  min-width: 500px; 
  overflow: auto;
  position: fixed;
  width: 100%; 
  z-index: 1;
}

header {
  position: absolute;
  z-index: 3;
}

header h1 {
  left: -9999px;
  position: fixed;
}

header a {
  background: url('/images/forkme-grey.png') no-repeat;
  border: 0;
  display: block;
  height: 32px;
  position: fixed;
  right: -40px;
  text-indent: -9999px;
  top: 40px;
  width: 191px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  transform:         rotate(45deg);
}

header a img {
  display: block;
  -webkit-transition: opacity .15s ease-in-out;
  -moz-transition: opacity .15s ease-in-out;
  -o-transition: opacity .15s ease-in-out;
  -ms-transition: opacity .15s ease-in-out;    
  transition: opacity .15s ease-in-out;
}

header a img:hover {
  opacity: 0;
  -webkit-transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -o-transition: opacity .25s ease-in-out;
  -ms-transition: opacity .25s ease-in-out;    
  transition: opacity .25s ease-in-out;
}

.navigation {
  display:block;
  list-style:none;
  margin-top: 0px;
  position: absolute;
  z-index:3;
}

.navigation a{
  background: rgba(255,255,255,0.9);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
  box-shadow: 1px 2px 2px rgba(0,0,0,0.5);
  color: #444;
  display: block;
  font-size: 10px;
  line-height: 24px;
  margin: 0 0 2px 2px;
  padding: 0px 20px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: All .15s ease-in-out;
  -moz-transition: All .15s ease-in-out;
  -o-transition: All .15s ease-in-out;
  -ms-transition: All .15s ease-in-out;    
  transition: All .15s ease-in-out;
}

.navigation a:hover {
  margin: 0 0 2px 0;
  padding: 1px 22px;
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
  box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
  -webkit-transition: All .25s ease-in-out;
  -moz-transition: All .25s ease-in-out;
  -o-transition: All .25s ease-in-out;
  -ms-transition: All .25s ease-in-out;    
  transition: All .25s ease-in-out;
}

.content {
  background: #fff;
  border: 4px solid #333;
  box-shadow: 0px 4px 7px rgba(0,0,0,0.6);
  left: 20%;
  padding: 30px;
  position: absolute;
  right: 40px;
  top: 10%;
  width: 60%;
}

.content h2 {
  color: #333;
  font-size: 24px;
  margin: 0;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}

.content p{
  color: #333;
  font-size: 15px;
  line-height: 24px;
  margin: 3px 0px;
}

.content li {
  font-size: 14px;
}

.content a{
  color: #333;
}

.content a:hover{
  color: #ddd;
}

.panel {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -150%;
  position: absolute;
  width: 100%;
  z-index: 2;
  -webkit-transition: all .8s ease-in-out;
  -moz-transition: all .8s ease-in-out;
  -o-transition: all .8s ease-in-out;
  transition: all .8s ease-in-out;
}

.panel:target{
  margin-top: 0;
}

.click-out {
  background: none;
  height: 100%;
  text-indent: -9999px;
  width: 100%;
}

.panel:target .click-out {
  display: block;
  top: 0;
}
